.homecontainer{
    width: '90%';
    /* border: solid; */
    margin: 0 auto;
}

.maincon{
  /* border: solid;   */
  margin: 120px auto 0;
  width: 85%;
}  


.maincon .concarti .carcons{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* responsive columns */
    gap: 5px; /* Adjust this value to change the gap */
    padding: 5px;
    width: 80%;
    margin: 10px 0;
    /* border: solid; */
}


.maincon .concarti h2{
    font-weight: 150;
    margin: 20px 0;
}

.maincon .concarti .cardscarti{
    /* border: solid; */
    width: 110px;
    border-radius: 10px;
    padding: 13px;
    height: 120px;
}


.maincon .concarti .cardscarti .imgs{
    /* border: solid; */
    width: 100%;
    height: 50px;
    overflow: hidden;
    margin-bottom: 10px;
}


.Restaurants{
    background-color: #ffaac940;
}

.Fit{
    background-color: #DAEFE3;
}

.African{
    background-color: #FFF8E4;
}

.Local{
    background-color: #02C27F23;
}

.Pharmacy{
    background-color: #EBF4FF;
}

.Supermarkets{
    background-color: #FFF3ED;
}

.Drinks{
    background-color: #fff8e4;
}



/* maincon02section */
.maincon02section{
    /* border: solid; */
    width: 85%;
    padding: 10px;
    margin: 40px auto;
    justify-content: space-between;
    display: flex;
}


.relycon{
    /* border: solid; */
    width: 49%;
}

.containerg{
    /* border: solid; */
    width: 85%;
    margin: 0 auto;
    padding: 2px;
    position: relative;
    z-index: 1;
}

.mcon{
    /* border: solid; */
    padding: 2px;
    padding-top: 10px;
    height: 350px;
    overflow: hidden;
    /* z-index: -5; */
}

.left_scroll{
    border: solid 1px rgb(208, 208, 208);
    width: 45px;
    box-shadow: 3px 2px gray;
    height: 40px;
    text-align: center;
    position: absolute;
    top: 200px;
    left: -25px;
    font-weight: bold;
    font-size: xx-large;
    z-index: 10;
    border-radius: 50%;
}

.right_scroll{
    border: solid 1px rgb(208, 208, 208);
    width: 45px;
    height: 40px;
    text-align: center;
    position: absolute;
    top: 200px;
    right: 0;
    font-weight: bold;
    font-size: xx-large;
    z-index: 100;
    border-radius: 50%;
}

.rcon{
    /* border: solid; */
    display: flex;
    /* justify-content: space-between; */ 
    gap: 20px;
    overflow-x: scroll;
    width: 100%;
}

.product_card{
    /* border: solid; */
    padding: 10px;
    width: 450px;
    height: 320px;
    margin-bottom: 50px;
}

.product_card:hover{
    box-shadow: 1px 2px 3px 2px #e5e7eb;
    border-radius: 20px;
}

.product_card a{
    text-decoration: none;
    color: black;
}

.__image_container{
    /* border: solid; */
    width: 350px;
    height: 200px;
}

.__image{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    /* z-index: -10; */
}

.__name_rating{
    display: flex;
    font-size: large;
    margin: 10px 0;
    justify-content: space-between;
}

.__delivery_time{
    padding: 5px 0;
}

.__tags{
    /* border: solid; */
}

.__category{
    display: flex;
}





@media (max-width: 1500px) {
    .maincon .concarti .carcons{
    width: 95%;
}

}


@media (max-width: 1300px) {
    .maincon .concarti .carcons{
        overflow-x: scroll;
        gap: 25px;
        width: 100%;
        display: flex;
        margin-bottom: 20px;
}

}