.loginCon{
    border: solid;
    width: 80%;
    padding: 0 20px ;
    margin: 0 auto;
}

/* .loginCon form{
    border: solid;
} */

.loginCon form .inpCon{
    /* border: solid; */
    padding: 20px;
}

.loginCon form .inpCon input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

.loginCon form .inpCon a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.loginCon form  .logbtn{
    /* border: solid; */
    width: 85px;
    margin: 15px auto;
}

.loginCon form  .logbtn button{
    padding: 10px 20px;
    font-weight: bold ;
    border-radius: 15px; 
}